
        <article>
            <div class="main_article">
                <h1>About us</h1>
                <h3>Who are we?</h3>
                <p>Lorem ipsum dolor sit amet, ex cum rebum dolorem dissentias, quod luptatum deseruisse vis et. Mel cibo nostro at. Rebum simul clita ea vel. Sea utamur equidem in. Ex feugait intellegat sed, vocibus epicurei nec ei. Id congue liberavisse instructior mei, qui id atqui eruditi reformidans.</p>
                
                <h3>What do we do?</h3>
                <p>Lorem ipsum dolor sit amet, ex cum rebum dolorem dissentias, quod luptatum deseruisse vis et. Mel cibo nostro at. Rebum simul clita ea vel. Sea utamur equidem in. Ex feugait intellegat sed, vocibus epicurei nec ei. Id congue liberavisse instructior mei, qui id atqui eruditi reformidans.</p>

                <h3>Why did we create this homepage?</h3>
                <p>Lorem ipsum dolor sit amet, ex cum rebum dolorem dissentias, quod luptatum deseruisse vis et. Mel cibo nostro at. Rebum simul clita ea vel. Sea utamur equidem in. Ex feugait intellegat sed, vocibus epicurei nec ei. Id congue liberavisse instructior mei, qui id atqui eruditi reformidans.</p>

            </div>
        </article>
