<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mq1.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <title>yaaaaas</title>
</head>

<header>
    <div class=container> 
        <i class="material-icons" onclick="toggleMenu()">menu</i> 
    </div>
     <nav class="menu menu_hidden">
        <!-- <ul class="menu menu_hidden"> -->
        <a href="index.html">Home</a>
        <a href="top.html">Top</a>
        <a href="latest.html">Latest</a>
        <a href="game.html">Games</a>
        <a href="tv.html">TV</a>
        <a href="movies.html">Movies</a>
        <a href="comics.html">Comics</a>
        <a href="contact.html">Contact</a>
        <a href="about.html">About us</a>
        <!-- </ul> -->
    </nav> 

    <script src="js/menu.js"></script>
    <script type="text/javascript">
    </script>

</header>

<body> 
    <main>
        <aside>
            <table border="1" cellpadding="10" cellspacing="10">
                <tr><td>Today</td><td>This Week</td><td>This Month</td></tr>
            </table>
            <a href="article.html">Cute potato breaks the memes</a>

            <img src="img/cutepotato.jpg" alt="cute kawaii potato" height="80" width="80">
        </aside>
        <article>
            <div class="main_article">
                <h1>Infinity War breaks the box office</h1>

                <img src="img/infinity.jpg" alt="Infinity War" height="600" width="1000">

                <p>Lorem ipsum dolor sit amet, ex cum rebum dolorem dissentias, quod luptatum deseruisse vis et. Mel cibo nostro at. Rebum simul clita ea vel. Sea utamur equidem in. Ex feugait intellegat sed, vocibus epicurei nec ei. Id congue liberavisse instructior mei, qui id atqui eruditi reformidans.</p>
                <p>Lorem ipsum dolor sit amet, ex cum rebum dolorem dissentias, quod luptatum deseruisse vis et. Mel cibo nostro at. Rebum simul clita ea vel. Sea utamur equidem in. Ex feugait intellegat sed, vocibus epicurei nec ei. Id congue liberavisse instructior mei, qui id atqui eruditi reformidans. Eu dolorum copiosae mandamus sed, his modus assum docendi te, fabellas sententiae interesset in nec. Nec simul graece eruditi in, vel eu idque copiosae. Mel periculis complectitur definitionem no, ei ferri nostrum reprehendunt vis. Sint atomorum ex eam, te vis corpora percipit convenire. Ex democritum philosophia vim. Copiosae sensibus duo cu, nam purto dolores id.Inani summo perfecto te vix. Sit an equidem definitiones. No quo solet aperiam detraxit. Est ut diam intellegam, enim zril usu te. Eum dicant graeco no. Sea modus qualisque principes ex, cum cu ullum pertinax.</p>

            </div>
        </article>
        <aside>
            <div class="aside2">
                <p>hej</p>
                <img src="img/panda.jpg" alt="cute panda" height="200" width="200">
            </div>
        </aside>
    </main>
</body>
</html>