        <article>
            <div class="main_article">
                <h1><a href="article.html">Infinity War breaks the box office</a></h1>

                <img class="img_index" src="img/infinity.jpg" alt="Infinity War" height="450" width="800">
                <img class="small_img_index" src="img/infinitysmall.jpg" alt="War">

                <h1><a href="article.html">Infinity War breaks the box office</a></h1>
                
                <img class="img_index" src="img/infinity.jpg" alt="Infinity War" height="450" width="800">
                <img class="small_img_index" src="img/infinitysmall.jpg" alt="War">            
            </div>
        </article>
    