<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mq1.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <title>yaaaaas</title>
</head>
<header>
    <div class=container> 
        <div class="toggle">
            <i class="material-icons" onclick="toggleMenu()">menu</i> 
        </div>
        <nav class="menu menu_hidden">
                <!-- <ul class="menu menu_hidden"> -->
            <a href="menu.html">Home</a>
            <a href="top.html">Top</a>
            <a href="latest.html">Latest</a>
            <a href="game.html">Games</a>
            <a href="tv.html">TV</a>
            <a href="movies.html">Movies</a>
            <a href="comics.html">Comics</a>
            <a href="contact.html">Contact</a>
            <a href="about.html">About us</a>
                <!-- </ul> -->
        </nav>          
        <script src="js/menu.js"></script>
        <script type="text/javascript">
        </script>

</header>
<body> 
    
    <main>
        <aside>
            <nav>
                <p>hola</p>
                <p>como</p>
                <p>esta</p>
            </nav>
            <img src="img/cutepotato.jpg" alt="cute kawaii potato" height="200" width="200">
        </aside>
        <article>
            <div class="main_article">
                <a href="article.html">Infinity War breaks the box office</a>

                <img src="img/infinity.jpg" alt="Infinity War" height="400" width="700">

                <a href="article.html">Infinity War breaks the box office</a>
                
                <img src="img/infinity.jpg" alt="Infinity War" height="400" width="700">
            </div>
        </article>
        <aside>
            <div class="aside2">
                <p>hej</p>
                <img src="img/panda.jpg" alt="cute panda" height="200" width="200">
            </div>
        </aside>
    </main>
</div>
</body>
</html>