        <article>
            <div class="main_article">
                <h1><a href="article.html">Jabbasweg confirmed to release a jabba comic</a></h1>
                <img src="img/jabba.jpg" alt="jabbasweg" height="450" width="800">
                <h1><a href="article.html">Jabbasweg confirmed to release a jabba comic</a></h1>
                <img src="img/jabba.jpg" alt="jabbasweg" height="450" width="800">
                <h1><a href="article.html">Jabbasweg confirmed to release a jabba comic</a></h1>

            </div>
        </article>
