        <article>
            <div class="main_article">
                <h1><a href="article.html">Ed Sheeran is taking over GoT</a></h1>

                <img src="img/edsheeranapo.jpg" alt="Ed Sheeran" height="450" width="800">

                <h1><a href="article.html">Ed Sheeran is taking over GoT</a></h1>
    
                <img src="img/edsheeranapo.jpg" alt="Ed Sheeran" height="450" width="800">
            </div>
        </article>
     